## Este projeto tem o objetivo de construir um banco de dados com as informações de filmes da Netflix com a respectiva nota do IMDB. Pode servir de base para a criação de um sistema de recomendação de filmes e séries. Para isso, vamos inserir o rating do IMDB dentro da lista de filme do Netflix

In [142]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Datasets:

Netflix - https://www.kaggle.com/shivamb/netflix-shows (Kaggle)
IMDB - https://datasets.imdbws.com/

Opening data:

NETFLIX - Este conjunto de dados consiste nos filmes e 'tv shows' disponíveis na Netflix atualizados até 2019. Este conjunto de dados foram coletados através de um 'search-engine' chamado Flixable.

In [144]:
df_netflix = pd.read_csv('./netflix_titles.csv')
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

IMDB - Dois datasets: um com o rating e outros com os títulos.

In [145]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [146]:
df_imdb_rat = pd.read_csv('./imdb_ratings.tsv', sep='\t')
df_imdb_rat.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1623
1  tt0000002            6.1       196
2  tt0000003            6.5      1312
3  tt0000004            6.2       119
4  tt0000005            6.1      2092

In [147]:
df_imdb_titles = pd.read_csv('./imdb_titles.tsv', sep='\t')
df_imdb_titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [148]:
df = df_imdb_titles.copy()

In [149]:
df.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

In [150]:
df.shape

(22234364, 8)

In [151]:
# Precisamos apenas de títulos com a região 'US'

selecao = df['region'] == 'US'

In [152]:
df[selecao].shape[0]

1050621

In [153]:
# Criando um novo dataframe com a região 'US'

df_us = df[selecao]

In [154]:
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
39,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
54,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
55,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
63,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,\N,\N,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
75,tt0000010,12,Leaving the Factory,US,\N,imdbDisplay,\N,0
80,tt0000010,17,Workers Leaving the Lumière Factory,US,\N,imdbDisplay,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
91,tt0000010,5,Employees Leaving the Lumière Factory,US,\N,alternative,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
120,tt0000012,3,The Arrival of the Mail Train,US,\N,alternative,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
151,tt0000014,20,The Waterer Watered,US,\N,imdbDisplay,\N,0
157,tt0000014,2,Tables Turned on the Gardener,US,\N,alternative,\N,0
164,tt0000014,9,The Sprayer Sprayed,US,\N,alternative,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
199,tt0000022,6,Blacksmith Scene,US,\N,\N,\N,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
256,tt0000029,18,Baby's Lunch,US,\N,\N,original script title,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
258,tt0000029,2,Feeding the Baby,US,\N,\N,\N,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
343,tt0000051,2,Gypsies at Home,US,\N,\N,literal English title,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0

In [155]:
# Existem títulos duplicados, mas o campo 'ordering' é importante. Vamos ordenar esta coluna e depois manter 
# apenas a primeira seleção dos duplicados
df_us = df_us.sort_values(['titleId', 'ordering'], ascending=[True, True])
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
39,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
54,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
55,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
63,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,\N,\N,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
91,tt0000010,5,Employees Leaving the Lumière Factory,US,\N,alternative,\N,0
75,tt0000010,12,Leaving the Factory,US,\N,imdbDisplay,\N,0
80,tt0000010,17,Workers Leaving the Lumière Factory,US,\N,imdbDisplay,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
120,tt0000012,3,The Arrival of the Mail Train,US,\N,alternative,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
157,tt0000014,2,Tables Turned on the Gardener,US,\N,alternative,\N,0
164,tt0000014,9,The Sprayer Sprayed,US,\N,alternative,\N,0
151,tt0000014,20,The Waterer Watered,US,\N,imdbDisplay,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
199,tt0000022,6,Blacksmith Scene,US,\N,\N,\N,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
258,tt0000029,2,Feeding the Baby,US,\N,\N,\N,0
256,tt0000029,18,Baby's Lunch,US,\N,\N,original script title,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
343,tt0000051,2,Gypsies at Home,US,\N,\N,literal English title,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0

In [156]:
# Mantendo os primeiros itens duplicados e removendo os outros.
df_us = df_us.drop_duplicates(subset='titleId', keep='first')
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0
379,tt0000068,1,Unloading the Boat,US,\N,\N,\N,0
383,tt0000069,1,Post No Bills,US,\N,\N,\N,0
395,tt0000070,3,Demolition of a Wall,US,\N,\N,literal English title,0
402,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
405,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
418,tt0000075,5,The Conjuring of a Woman at the House of Rober...,US,\N,\N,\N,0
424,tt0000076,2,Rip and the Dwarf,US,\N,\N,copyright title,0
438,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0
439,tt0000082,1,A Hard Wash,US,\N,\N,\N,0
449,tt0000085,1,Gardener Burning Weeds,US,\N,\N,\N,0
452,tt0000086,1,"Beach and Pier at Trouville, 1st part",US,\N,\N,\N,0
457,tt0000087,3,"Beach and Pier at Trouville, 2nd part",US,\N,\N,\N,0
460,tt0000088,3,Market Day,US,\N,\N,\N,0
484,tt0000091,7,The Haunted Castle,US,\N,dvd,\N,0
495,tt0000095,2,The Mysterious Paper,US,\N,\N,\N,0
498,tt0000097,1,"Place de l'Opéra, First View",US,\N,\N,\N,0
501,tt0000098,1,"Place de l'Opéra, Second View",US,\N,\N,\N,0

In [157]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989625 entries, 5 to 22234110
Data columns (total 8 columns):
titleId            989625 non-null object
ordering           989625 non-null int64
title              989625 non-null object
region             989625 non-null object
language           989625 non-null object
types              989625 non-null object
attributes         989625 non-null object
isOriginalTitle    989625 non-null object
dtypes: int64(1), object(7)
memory usage: 68.0+ MB

In [158]:
# Verificando a situação da existência de valores únicos no 'titleId'
df_us['titleId'].is_unique

True

In [159]:
df_us['title'].is_unique

False

In [160]:
# Vou ter que buscar mais dados nos outros datasets do IMDB porque tem valores repetidos no campo de titulos
# preciso encontrar quais são e eliminar(pode ser isso primeiro) daqueles titulos que não tem no netflix

In [161]:
# Uma possível solução é verificar estes filmes com mesmo título, se nao tem na Netflix, dropamos. Se tem no Netflix,
# verificar qual deles são, comparar com o ano e remover o restante.

In [162]:
df_us[df_us.duplicated(subset='title')].head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
972,tt0000280,1,Buffalo Bill's Wild West Parade,US,\N,\N,\N,0
1095,tt0000347,2,Buffalo Bill's Wild West Parade,US,\N,\N,\N,0
1204,tt0000381,1,Buffalo Bill's Wild West Show,US,\N,\N,\N,0
1535,tt0000487,1,The Great Train Robbery,US,\N,imdbDisplay,\N,0
2190,tt0000734,1,Othello,US,\N,\N,\N,0
2528,tt0000886,2,"Hamlet, Prince of Denmark",US,\N,\N,\N,0
2767,tt0000998,1,Othello,US,\N,\N,\N,0
2867,tt0001045,3,A Midsummer Night's Dream,US,\N,\N,literal English title,0
3598,tt0001432,4,Uncle Tom's Cabin,US,\N,\N,\N,0
3670,tt0001467,1,Across the Plains,US,\N,\N,\N,0
3743,tt0001502,1,The Best Man Wins,US,\N,\N,\N,0
3825,tt0001545,2,Cinderella,US,\N,\N,\N,0
3828,tt0001546,2,Cinderella,US,\N,\N,\N,0
3835,tt0001552,1,Conscience,US,\N,\N,\N,0
4178,tt0001738,2,Little Red Riding Hood,US,\N,\N,\N,0
4411,tt0001877,1,She,US,\N,\N,\N,0
4695,tt0002031,1,As You Like It,US,\N,\N,\N,0
4863,tt0002114,2,Conscience,US,\N,\N,\N,0
5368,tt0002358,1,The Merchant of Venice,US,\N,\N,\N,0
5435,tt0002392,1,The Night Before Christmas,US,\N,\N,\N,0
5453,tt0002405,1,Oliver Twist,US,\N,\N,\N,0
5467,tt0002413,1,The Outlaw's Sacrifice,US,\N,\N,\N,0
5522,tt0002435,1,The Power of Love,US,\N,\N,\N,0
5565,tt0002453,1,The Reckoning,US,\N,\N,\N,0
5581,tt0002463,1,Rip Van Winkle,US,\N,\N,\N,0
5629,tt0002493,2,A Sister's Love,US,\N,\N,\N,0
5831,tt0002581,1,White Roses,US,\N,\N,\N,0
5977,tt0002657,1,The Ball Game,US,\N,\N,\N,0
6009,tt0002671,2,The Battle,US,\N,working,\N,0
6078,tt0002718,3,Brothers,US,\N,\N,\N,0
6152,tt0002760,1,Confidence,US,\N,\N,\N,0
6164,tt0002767,6,The Count of Monte Cristo,US,\N,\N,\N,0
6243,tt0002813,4,Dr. Jekyll and Mr. Hyde,US,\N,\N,\N,0
6309,tt0002846,1,The Farmer's Daughter,US,\N,\N,\N,0
6385,tt0002887,1,The Fugitive,US,\N,\N,\N,0
6417,tt0002900,1,The Girl and the Outlaw,US,\N,\N,\N,0
6488,tt0002940,1,The Feud,US,\N,working,\N,0
6509,tt0002954,3,Hiawatha,US,\N,\N,\N,0
6586,tt0002998,1,The Iconoclast,US,\N,\N,\N,0
6676,tt0003038,1,Kathleen Mavourneen,US,\N,\N,\N,0
6875,tt0003140,1,Mexican War Pictures,US,\N,\N,\N,0
6896,tt0003151,2,The Mirror,US,\N,\N,\N,0
6951,tt0003168,2,The Bear,US,\N,working,\N,0
6978,tt0003181,1,Mutt and Jeff,US,\N,\N,\N,0
6979,tt0003182,1,Mutt and Jeff,US,\N,\N,\N,0
6980,tt0003183,1,Mutt and Jeff,US,\N,\N,\N,0
6981,tt0003184,1,Mutt and Jeff,US,\N,\N,\N,0
6982,tt0003185,1,Mutt and Jeff,US,\N,\N,\N,0
6983,tt0003186,1,Mutt and Jeff,US,\N,\N,\N,0
6984,tt0003187,1,Mutt and Jeff,US,\N,\N,\N,0

In [163]:
# Adicionando outra coluna com o ano de produção;
# Novo dataframe do IMDB com o ano

df_2 = pd.read_csv('./imdb2.tsv', sep='\t')
df_2.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [164]:
df_2[df_2['primaryTitle'] == 'Transformers Prime']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2863605,tt1659175,tvSeries,Transformers Prime,Transformers Prime,0,2010,2013,30,"Action,Adventure,Animation"

In [165]:
# Verificando valores repetidos

df_2.primaryTitle.is_unique

False

In [166]:
# Um novo DF com apenas o Identificador 'tconst' e o ano

df_year = df_2[['tconst', 'startYear', 'endYear']].copy()

In [167]:
df_year.head()

      tconst startYear endYear
0  tt0000001      1894      \N
1  tt0000002      1892      \N
2  tt0000003      1892      \N
3  tt0000004      1892      \N
4  tt0000005      1893      \N

In [202]:
df_year.shape

(6958381, 3)

In [201]:
df_year[df_year['endYear'] == r'\N'].shape[0]

6895844

In [168]:
#Comandos de ajuda e acesso a documentação:

#?str.replace
# ou comando e SHIFT+TAB:

In [169]:
#Realizei um join dos data.frames que constavam ano e titulo do filme(US)

df_us_year = pd.merge(df_year, df_us, left_on='tconst', right_on='titleId', how='outer')

In [170]:
df_us_year.head()

,tconst,startYear,endYear,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1894,\N,tt0000001,6.0,Carmencita,US,\N,\N,\N,0
1,tt0000002,1892,\N,tt0000002,7.0,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000003,1892,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000004,1892,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000005,1893,\N,tt0000005,1.0,Blacksmithing Scene,US,\N,alternative,\N,0

In [171]:
#retirando os titulos nulos, possiveis filmes estrangeiros nao regionalizados para US
df_us_year = df_us_year.dropna(subset=['title'])

In [172]:
df_us_year.head(50)

,tconst,startYear,endYear,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1894,\N,tt0000001,6.0,Carmencita,US,\N,\N,\N,0
1,tt0000002,1892,\N,tt0000002,7.0,The Clown and His Dogs,US,\N,\N,literal English title,0
4,tt0000005,1893,\N,tt0000005,1.0,Blacksmithing Scene,US,\N,alternative,\N,0
5,tt0000006,1894,\N,tt0000006,3.0,Chinese Opium Den,US,\N,\N,\N,0
6,tt0000007,1894,\N,tt0000007,1.0,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
7,tt0000008,1894,\N,tt0000008,3.0,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
8,tt0000009,1894,\N,tt0000009,4.0,Miss Jerry,US,\N,\N,\N,0
9,tt0000010,1895,\N,tt0000010,3.0,Exiting the Factory,US,\N,imdbDisplay,\N,0
11,tt0000012,1896,\N,tt0000012,1.0,The Arrival of a Train,US,\N,imdbDisplay,\N,0
12,tt0000013,1895,\N,tt0000013,4.0,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
13,tt0000014,1895,\N,tt0000014,1.0,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
14,tt0000015,1894,\N,tt0000015,3.0,Around a Bathing Hut,US,\N,\N,literal English title,0
20,tt0000022,1895,\N,tt0000022,1.0,The Blacksmiths,US,\N,\N,literal English title,0
21,tt0000023,1895,\N,tt0000023,4.0,The Sea,US,\N,\N,\N,0
24,tt0000026,1896,\N,tt0000026,5.0,The Messers. Lumière at Cards,US,\N,\N,\N,0
25,tt0000027,1895,\N,tt0000027,2.0,Cordeliers' Square in Lyon,US,\N,\N,\N,0
26,tt0000028,1895,\N,tt0000028,7.0,Fishing for Goldfish,US,\N,\N,\N,0
27,tt0000029,1895,\N,tt0000029,1.0,Baby's Dinner,US,\N,\N,\N,0
29,tt0000031,1895,\N,tt0000031,6.0,Jumping the Blanket,US,\N,\N,\N,0
31,tt0000033,1895,\N,tt0000033,5.0,Trick Riding,US,\N,\N,\N,0
33,tt0000035,1896,\N,tt0000035,4.0,Watering the Flowers,US,\N,\N,\N,0
34,tt0000036,1896,\N,tt0000036,1.0,Awakening of Rip,US,\N,\N,\N,0
35,tt0000037,1896,\N,tt0000037,1.0,Sea Bathing,US,\N,imdbDisplay,\N,0
36,tt0000038,1898,\N,tt0000038,1.0,The Ball Game,US,\N,\N,\N,0
38,tt0000040,1896,\N,tt0000040,1.0,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
39,tt0000041,1897,\N,tt0000041,1.0,Snowball Fight,US,\N,\N,informal English title,0
43,tt0000045,1896,\N,tt0000045,3.0,The Washerwomen,US,\N,\N,literal English title,0
48,tt0000050,1896,\N,tt0000050,2.0,Baby and Young Girls,US,\N,\N,literal English title,0
49,tt0000051,1896,\N,tt0000051,1.0,The Bohemian Encampment,US,\N,\N,\N,0
52,tt0000054,1896,\N,tt0000054,1.0,A Merry-Go-Round,US,\N,\N,\N,0
57,tt0000059,1896,\N,tt0000059,1.0,Coronation of a Village Maiden,US,\N,\N,\N,0
58,tt0000060,1896,\N,tt0000060,1.0,Dancing Darkies,US,\N,\N,\N,0
65,tt0000067,1896,\N,tt0000067,2.0,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0
66,tt0000068,1896,\N,tt0000068,1.0,Unloading the Boat,US,\N,\N,\N,0
67,tt0000069,1896,\N,tt0000069,1.0,Post No Bills,US,\N,\N,\N,0
68,tt0000070,1896,\N,tt0000070,3.0,Demolition of a Wall,US,\N,\N,literal English title,0
69,tt0000071,1896,\N,tt0000071,1.0,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
70,tt0000072,1896,\N,tt0000072,1.0,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
73,tt0000075,1896,\N,tt0000075,5.0,The Conjuring of a Woman at the House of Rober...,US,\N,\N,\N,0
74,tt0000076,1896,\N,tt0000076,2.0,Rip and the Dwarf,US,\N,\N,copyright title,0
79,tt0000081,1896,\N,tt0000081,3.0,Towing a Boat on the River,US,\N,imdbDisplay,\N,0
80,tt0000082,1896,\N,tt0000082,1.0,A Hard Wash,US,\N,\N,\N,0
83,tt0000085,1896,\N,tt0000085,1.0,Gardener Burning Weeds,US,\N,\N,\N,0
84,tt0000086,1896,\N,tt0000086,1.0,"Beach and Pier at Trouville, 1st part",US,\N,\N,\N,0
85,tt0000087,1896,\N,tt0000087,3.0,"Beach and Pier at Trouville, 2nd part",US,\N,\N,\N,0
86,tt0000088,1896,\N,tt0000088,3.0,Market Day,US,\N,\N,\N,0
89,tt0000091,1896,\N,tt0000091,7.0,The Haunted Castle,US,\N,dvd,\N,0
93,tt0000095,1896,\N,tt0000095,2.0,The Mysterious Paper,US,\N,\N,\N,0
95,tt0000097,1896,\N,tt0000097,1.0,"Place de l'Opéra, First View",US,\N,\N,\N,0
96,tt0000098,1896,\N,tt0000098,1.0,"Place de l'Opéra, Second View",US,\N,\N,\N,0

In [173]:
df_us_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989625 entries, 0 to 6961702
Data columns (total 11 columns):
tconst             986303 non-null object
startYear          986303 non-null object
endYear            986303 non-null object
titleId            989625 non-null object
ordering           989625 non-null float64
title              989625 non-null object
region             989625 non-null object
language           989625 non-null object
types              989625 non-null object
attributes         989625 non-null object
isOriginalTitle    989625 non-null object
dtypes: float64(1), object(10)
memory usage: 90.6+ MB

In [174]:
#Juntando o ultimo dataset com o campo nota/rating
df_imdb = pd.merge(df_us_year, df_imdb_rat, on='tconst', how='outer')

In [175]:
df_imdb.head(15)

,tconst,startYear,endYear,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
0,tt0000001,1894,\N,tt0000001,6.0,Carmencita,US,\N,\N,\N,0,5.7,1623.0
1,tt0000002,1892,\N,tt0000002,7.0,The Clown and His Dogs,US,\N,\N,literal English title,0,6.1,196.0
2,tt0000005,1893,\N,tt0000005,1.0,Blacksmithing Scene,US,\N,alternative,\N,0,6.1,2092.0
3,tt0000006,1894,\N,tt0000006,3.0,Chinese Opium Den,US,\N,\N,\N,0,5.2,112.0
4,tt0000007,1894,\N,tt0000007,1.0,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0,5.4,644.0
5,tt0000008,1894,\N,tt0000008,3.0,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0,5.4,1786.0
6,tt0000009,1894,\N,tt0000009,4.0,Miss Jerry,US,\N,\N,\N,0,5.9,153.0
7,tt0000010,1895,\N,tt0000010,3.0,Exiting the Factory,US,\N,imdbDisplay,\N,0,6.9,5954.0
8,tt0000012,1896,\N,tt0000012,1.0,The Arrival of a Train,US,\N,imdbDisplay,\N,0,7.4,10145.0
9,tt0000013,1895,\N,tt0000013,4.0,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0,5.7,1552.0
10,tt0000014,1895,\N,tt0000014,1.0,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0,7.2,4428.0
11,tt0000015,1894,\N,tt0000015,3.0,Around a Bathing Hut,US,\N,\N,literal English title,0,6.1,799.0
12,tt0000022,1895,\N,tt0000022,1.0,The Blacksmiths,US,\N,\N,literal English title,0,5.1,871.0
13,tt0000023,1895,\N,tt0000023,4.0,The Sea,US,\N,\N,\N,0,5.7,1120.0
14,tt0000026,1896,\N,tt0000026,5.0,The Messers. Lumière at Cards,US,\N,\N,\N,0,5.7,1293.0

In [176]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695596 entries, 0 to 1695595
Data columns (total 13 columns):
tconst             object
startYear          object
endYear            object
titleId            object
ordering           float64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
averageRating      float64
numVotes           float64
dtypes: float64(3), object(10)
memory usage: 181.1+ MB

In [177]:
0 == 0

True

In [178]:
#precisei fazer essa alteração, pois havia valores nulos que não em formato str. pra que essa função funcione, não pode haver palavras nas celulas.
df_imdb['endYear'] = df_imdb['endYear'].replace([r'\N'], '0')
df_imdb['startYear'] = df_imdb['startYear'].replace([r'\N'], '0')

In [179]:
# tranformando o campo em numérico
df_imdb['endYear'] = pd.to_numeric(df_imdb['endYear'])
df_imdb['startYear'] = pd.to_numeric(df_imdb['startYear'])

In [180]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695596 entries, 0 to 1695595
Data columns (total 13 columns):
tconst             object
startYear          float64
endYear            float64
titleId            object
ordering           float64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
averageRating      float64
numVotes           float64
dtypes: float64(5), object(8)
memory usage: 181.1+ MB

In [181]:
# trocando o nome para melhorar a visualizacao de quais sao os campos e a origem deles
df_netflix = df_netflix.rename(columns={'title':'titleNetflix'})

In [182]:
df_netflix.head()

,show_id,type,titleNetflix,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [204]:
# juntando Netflix e IMDB
df_final = pd.merge(df_netflix, df_imdb, left_on=['titleNetflix', 'release_year'], right_on=['title', 'startYear'], how='outer')

In [205]:
df_final = df_final[['titleNetflix', 'release_year', 'director', 'type', 'title', 'startYear', 'endYear', 'averageRating', 'numVotes']].copy()

In [208]:
df_final.head()

,titleNetflix,release_year,director,type,title,startYear,endYear,averageRating,numVotes
0,Norm of the North: King Sized Adventure,2019.0,"Richard Finn, Tim Maltby",Movie,Norm of the North: King Sized Adventure,2019.0,0.0,3.1,274.0
1,Jandino: Whatever it Takes,2016.0,NaN,Movie,NaN,NaN,NaN,NaN,NaN
2,Transformers Prime,2013.0,NaN,TV Show,NaN,NaN,NaN,NaN,NaN
3,Transformers: Robots in Disguise,2016.0,NaN,TV Show,NaN,NaN,NaN,NaN,NaN
4,#realityhigh,2017.0,Fernando Lebrija,Movie,NaN,NaN,NaN,NaN,NaN

In [229]:
#estamos tentando juntar alguns titulos que ficaram separados no DF anterior
df = df_final[df_final['titleNetflix'] == df_final['title']
             || df_final['release_year'] == df_final['startYear'] 
             || df_final['release_year'] == df_final['endYear']]

SyntaxError: invalid syntax (<ipython-input-229-0f05e0d0a30e>, line 3)

In [207]:
df.info()#########################################

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3013 entries, 0 to 6736
Data columns (total 9 columns):
titleNetflix     3013 non-null object
release_year     3013 non-null float64
director         2296 non-null object
type             3013 non-null object
title            3013 non-null object
startYear        3013 non-null float64
endYear          3013 non-null float64
averageRating    2511 non-null float64
numVotes         2511 non-null float64
dtypes: float64(5), object(4)
memory usage: 235.4+ KB

In [187]:
df.head(50)

,show_id,type,titleNetflix,director,cast,country,date_added,release_year,rating,duration,...,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
0,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,...,tt1659175,1.0,Transformers Prime,US,\N,\N,\N,0,7.9,5108.0
1,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,...,tt7293754,1.0,Fire Chasers,US,\N,\N,\N,0,6.6,301.0
2,80988892,Movie,Next Gen,"Kevin R. Adams, Joe Ksander","John Krasinski, Charlyne Yi, Jason Sudeikis, M...","China, Canada, United States","September 7, 2018",2018,TV-PG,106 min,...,tt10715940,1.0,Next Gen,US,\N,\N,\N,0,NaN,NaN
3,80178151,TV Show,The Spy,NaN,"Sacha Baron Cohen, Noah Emmerich, Hadar Ratzon...",France,"September 6, 2019",2019,TV-MA,1 Season,...,tt5952634,18.0,The Spy,US,\N,imdbDisplay,\N,0,7.9,25235.0
4,80128317,TV Show,The Eighties,NaN,NaN,United States,"September 30, 2018",2016,TV-PG,1 Season,...,tt5144776,6.0,The Eighties,US,\N,\N,\N,0,8.3,1086.0
5,81027384,TV Show,The Nineties,NaN,NaN,United States,"September 30, 2018",2017,TV-14,1 Season,...,tt5737432,1.0,The Nineties,US,\N,\N,\N,0,8.2,895.0
6,80030186,TV Show,The Seventies,NaN,NaN,United States,"September 30, 2018",2015,TV-PG,1 Season,...,tt4491456,5.0,The Seventies,US,\N,\N,\N,0,8.3,1145.0
7,80124522,TV Show,Maniac,NaN,"Emma Stone, Jonah Hill, Justin Theroux, Sally ...",United States,"September 21, 2018",2018,TV-MA,1 Season,...,tt5580146,10.0,Maniac,US,\N,imdbDisplay,\N,0,7.8,60729.0
8,80157073,TV Show,The Good Cop,NaN,"Tony Danza, Josh Groban, Monica Barbaro, Isiah...",United States,"September 21, 2018",2018,TV-PG,1 Season,...,tt7183074,6.0,The Good Cop,US,\N,imdbDisplay,\N,0,7.0,4563.0
9,80184771,TV Show,Inside Bill's Brain: Decoding Bill Gates,NaN,Bill Gates,United States,"September 20, 2019",2019,TV-14,1 Season,...,tt10837476,14.0,Inside Bill's Brain: Decoding Bill Gates,US,\N,imdbDisplay,\N,0,8.0,7691.0
10,70259208,TV Show,Transformers: Rescue Bots,NaN,"Lacey Chabert, Elan Garfias, Maurice LaMarche,...","Canada, United States","September 19, 2018",2016,TV-Y7,1 Season,...,tt2139371,1.0,Transformers: Rescue Bots,US,\N,imdbDisplay,\N,0,6.5,710.0
11,70251519,TV Show,America's Book of Secrets,NaN,Jonathan Adams,United States,"September 15, 2019",2014,TV-14,1 Season,...,tt2198333,5.0,America's Book of Secrets,US,\N,imdbDisplay,\N,0,6.9,604.0
12,81069393,TV Show,Surviving R. Kelly,NaN,R. Kelly,United States,"September 15, 2019",2019,TV-MA,1 Season,...,tt8385496,3.0,Surviving R. Kelly,US,\N,imdbDisplay,\N,0,7.6,3524.0
13,80241102,TV Show,Cabins in the Wild with Dick Strawbridge,NaN,"Dick Strawbridge, William Hardie",United Kingdom,"September 15, 2018",2017,TV-PG,1 Season,...,tt8422396,3.0,Cabins in the Wild with Dick Strawbridge,US,\N,imdbDisplay,\N,0,6.7,133.0
14,80202129,TV Show,The Five,Mark Tonderai,"Tom Cullen, O.T. Fagbenle, Lee Ingleby, Sarah ...",United Kingdom,"September 15, 2017",2016,TV-MA,1 Season,...,tt4370528,6.0,The Five,US,\N,imdbDisplay,\N,0,7.7,7387.0
15,80153467,TV Show,Unbelievable,NaN,"Toni Collette, Merritt Wever, Kaitlyn Dever, D...",United States,"September 13, 2019",2019,TV-MA,1 Season,...,tt7909970,3.0,Unbelievable,US,\N,imdbDisplay,\N,0,8.4,60121.0
16,80993062,TV Show,The I-Land,NaN,"Natalie Martinez, Kate Bosworth, Ronald Peet, ...",United States,"September 12, 2019",2019,TV-MA,1 Season,...,tt9067020,16.0,The I-Land,US,\N,imdbDisplay,\N,0,4.5,13449.0
17,80223685,TV Show,Daniel Sloss: Live Shows,NaN,Daniel Sloss,United States,"September 11, 2018",2018,TV-MA,1 Season,...,tt8858472,2.0,Daniel Sloss: Live Shows,US,\N,\N,\N,0,8.6,2023.0
18,81165786,Movie,The Bridge,Kunle Afolayan,"Chidinma Ekile, Ademola Adedoyin, Kunle Afolay...",Nigeria,"September 1, 2019",2017,TV-14,119 min,...,tt6324622,1.0,The Bridge,US,\N,\N,\N,0,NaN,NaN
19,70229514,TV Show,Dead Set,NaN,"Jaime Winstone, Andy Nyman, Kevin Eldon, Davin...",United Kingdom,"September 1, 2016",2008,TV-MA,1 Season,...,tt1285482,7.0,Dead Set,US,\N,imdbDisplay,\N,0,7.7,17993.0
20,70303288,TV Show,Easy Fortune Happy Life,NaN,"Lan Cheng-lung, Joe Chen, Roy Chiu, Jocelyn Wa...",Taiwan,"September 1, 2016",2009,TV-14,1 Season,...,tt3756460,1.0,Easy Fortune Happy Life,US,\N,\N,informal English title,0,6.3,58.0
21,81166978,TV Show,"Bring It On, Ghost",Park Joon-hwa,"Taecyeon, Kim So-hyun, Kwon Yul, Kim Sang-ho, ...",South Korea,"October 30, 2019",2016,TV-14,1 Season,...,tt5768840,5.0,"Bring It On, Ghost",US,\N,imdbDisplay,\N,0,7.7,1171.0
22,80197912,TV Show,Beyond Stranger Things,NaN,"Jim Rash, Matt Duffer, Ross Duffer, Shawn Levy...",United States,"October 27, 2017",2017,TV-14,1 Season,...,tt7570990,8.0,Beyond Stranger Things,US,\N,\N,\N,0,7.5,1680.0
23,81185502,TV Show,A Little Thing Called First Love,NaN,"Lai Kuan-lin, Zhao Jinmai, Wang Runze, Chai We...",China,"October 26, 2019",2019,TV-G,1 Season,...,tt11152058,5.0,A Little Thing Called First Love,US,\N,imdbDisplay,\N,0,8.1,104.0
24,81010786,TV Show,Drug Squad: Costa del Sol,NaN,"Hugo Silva, Álvaro Cervantes, Miki Esparbé, Je...",Spain,"October 25, 2019",2019,TV-MA,1 Season,...,tt8476166,4.0,Drug Squad: Costa del Sol,US,\N,imdbDisplay,\N,0,6.7,329.0
25,70218316,TV Show,DreamWorks Spooky Stories,NaN,"Antonio Banderas, Hugh Laurie, Mike Myers, Ree...",United States,"October 25, 2018",2009,TV-PG,1 Season,...,tt6958564,1.0,DreamWorks Spooky Stories,US,\N,\N,\N,0,5.0,7.0
26,80135414,TV Show,The Mist,NaN,"Morgan Spector, Alyssa Sutherland, Gus Birney,...",United States,"October 24, 2017",2017,TV-MA,1 Season,...,tt5639976,20.0,The Mist,US,\N,imdbDisplay,\N,0,5.4,20848.0
27,80066079,TV Show,Containment,NaN,"David Gyasi, Christina Marie Moses, Chris Wood...",United States,"October 21, 2016",2016,TV-14,1 Season,...,tt4421578,9.0,Containment,US,\N,imdbDisplay,\N,0,7.2,9800.0
28,81077044,TV Show,Another Miss Oh,NaN,"Seo Hyun-jin, Eric Moon, Jeon Hye-bin, Ye Ji-w...",South Korea,"October 16, 2019",2016,TV-14,1 Season,...,tt5679572,3.0,Another Miss Oh,US,\N,imdbDisplay,\N,0,7.9,1059.0
29,81167011,TV Show,Second 20s,NaN,"Choi Ji-woo, Lee Sang-yun, Choi Won-young, Kim...",South Korea,"October 16, 2019",2015,TV-14,1 Season,...,tt4984004,9.0,Second 20s,US,\N,imdbDisplay,\N,0,7.7,206.0
30,81166946,TV Show,Cheese in the Trap,Lee Yoon-jung,"Park Hae-Jin, Kim Go-eun, Seo Kang-jun, Lee Su...",South Korea,"October 1, 2019",2016,TV-14,1 Season,...,tt4741110,5.0,Cheese in the Trap,US,\N,imdbDisplay,\N,0,7.4,2403.0
31,80097248,TV Show,Masha's Spooky Stories,NaN,NaN,"United States, Russia","October 1, 2016",2012,TV-Y,1 Season,...,tt6979430,4.0,Masha's Spooky Stories,US,\N,imdbDisplay,\N,0,5.0,24.0
32,70205018,TV Show,Robotech,NaN,"Jean-Claude Ballard, Gregory Snegoff, Cam Clar...","United States, Japan","October 1, 2016",1985,TV-MA,1 Season,...,tt0088595,6.0,Robotech,US,\N,\N,\N,0,8.5,3301.0
33,80218634,TV Show,Super Drags,NaN,"Fernando Mendonça, Sérgio Cantú, Wagner Follar...",Brazil,"November 9, 2018",2018,TV-MA,1 Season,...,tt8912244,3.0,Super Drags,US,\N,imdbDisplay,\N,0,5.6,1285.0
34,81022683,TV Show,The Queen of Flow,NaN,"Carolina Ramírez, Carlos Torres, Andrés Sandov...",Colombia,"November 9, 2018",2018,TV-14,1 Season,...,tt8560918,4.0,The Queen of Flow,US,\N,imdbDisplay,\N,0,7.9,478.0
35,80201862,TV Show,Westside,NaN,NaN,United States,"November 9, 2018",2018,TV-MA,1 Season,...,tt8693758,2.0,Westside,US,\N,\N,\N,0,5.9,138.0
36,81142595,TV Show,Voice,NaN,"Andrew Gregson, Khemanit Jamikorn, Nattarat No...",NaN,"November 5, 2019",2019,TV-14,1 Season,...,tt6212854,9.0,Voice,US,\N,imdbDisplay,\N,0,7.7,825.0
37,80201488,TV Show,The Devil Next Door,NaN,NaN,United States,"November 4, 2019",2019,TV-MA,1 Season,...,tt11165002,3.0,The Devil Next Door,US,\N,\N,\N,0,7.6,8093.0
38,80119411,TV Show,Alias Grace,NaN,"Sarah Gadon, Edward Holcroft, Paul Gross, Anna...",Canada,"November 3, 2017",2017,TV-MA,1 Season,...,tt1034007,5.0,Alias Grace,US,\N,imdbDisplay,\N,0,7.8,23086.0
39,81018979,TV Show,Mythomaniac,NaN,"Marina Hands, Mathieu Demy, Marie Drion, Jérém...",France,"November 28, 2019",2019,TV-MA,1 Season,...,tt10677432,1.0,Mythomaniac,US,\N,imdbDisplay,\N,0,6.8,642.0
40,80109415,TV Show,Gilmore Girls: A Year in the Life,NaN,"Lauren Graham, Alexis Bledel, Kelly Bishop, Sc...",United States,"November 25, 2016",2016,TV-14,1 Season,...,tt5435008,10.0,Gilmore Girls: A Year in the Life,US,\N,imdbDisplay,\N,0,7.7,27700.0
41,80198001,TV Show,Strong Girl Bong-soon,NaN,"Park Bo-young, Park Hyung-sik, Ji Soo, Shim Hy...",South Korea,"November 24, 2019",2017,TV-14,1 Season,...,tt6263222,6.0,Strong Girl Bong-soon,US,\N,imdbDisplay,\N,0,8.2,5447.0
42,80097141,TV Show,Godless,NaN,"Jeff Daniels, Michelle Dockery, Jack O'Connell...",United States,"November 22, 2017",2017,TV-MA,1 Season,...,tt5516154,13.0,Godless,US,\N,imdbDisplay,\N,0,8.3,46633.0
43,70243692,Movie,Thorne: Sleepyhead,Stephen Hopkins,"David Morrissey, Eddie Marsan, Aidan Gillen, O...","United Kingdom, Australia, Canada, United States","November 2, 2016",2010,NR,125 min,...,tt1610518,11.0,Thorne: Sleepyhead,US,\N,imdbDisplay,\N,0,6.8,2642.0
44,80123729,TV Show,Paranoid,NaN,"Indira Varma, Robert Glenister, Dino Fetscher,...",United Kingdom,"November 17, 2016",2016,TV-14,1 Season,...,tt5839454,5.0,Paranoid,US,\N,imdbDisplay,\N,0,6.7,6156.0
45,81179844,TV Show,At the Dolphin Bay,NaN,"Angela Chang, Ambrose Hui, Wallace Huo, Jill H...",Taiwan,"November 15, 2019",2003,TV-14,1 Season,...,tt8612066,1.0,At the Dolphin Bay,US,\N,imdbDisplay,\N,0,7.0,20.0
46,80208213,TV Show,Age of Tanks,NaN,NaN,"Germany, France, Russia","November 10, 2018",2017,TV-PG,1 Season,...,tt8107992,1.0,Age of Tanks,US,\N,imdbDisplay,\N,0,7.3,477.0
47,70286533,TV Show,Helix,NaN,"Billy Campbell, Hiroyuki Sanada, Kyra Zagorsky...","United States, Canada","November 10, 2018",2015,TV-MA,1 Season,...,tt2758950,3.0,Helix,US,\N,imdbDisplay,\N,0,6.8,27943.0
48,80216268,Movie,Roots,Shweta Basu Prasad,NaN,NaN,"November 1, 2017",2016,TV-PG,62 min,...,tt3315386,4.0,Roots,US,\N,imdbDisplay,\N,0,7.9,6974.0
49,80200549,TV Show,When They See Us,NaN,"Asante Blackk, Caleel Harris, Ethan Herisse, J...",United States,"May 31, 2019",2019,TV-MA,1 Season,...,tt7137906,3.0,When They See Us,US,\N,\N,\N,0,8.9,77964.0

In [188]:
df[df['title'] == 'Transformers Prime']

,show_id,type,titleNetflix,director,cast,country,date_added,release_year,rating,duration,...,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
0,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,...,tt1659175,1.0,Transformers Prime,US,\N,\N,\N,0,7.9,5108.0

In [189]:
# a ideia é obter esta diferença:
#df['difer'] = df_final[df_final['release_year'] - df_final['startYear']]

In [190]:
df_final_2 = pd.merge(df_netflix, df_imdb, left_on=['titleNetflix', 'release_year'], right_on=['title', 'startYear', 'endYear'], how='inner')
df_final_2.head()

ValueError: len(right_on) must equal len(left_on)

In [ ]:
df_final_2.info()

In [ ]:
df_final_2[df_final_2['title'] == 'Transformers Prime']

In [ ]:
#os problemas atuais - o 'caso Transformers'

# inner não deu certo com alguns filmes, não está fazendo a comparação corretamente ou não está entendendo
# como o mesmo valor

# a solucao será pelo metodo do 'pd.merge' ou pelo 'corte do DF' comparando as igualdades??
# temos que criar uma solucao para o campo ano, criando um novo campo 'diferenca', 
# que trataremos e criaremos uma comparacao maleavel que aceite 3 anos de diferenca entre os filmes
# dataset com o campo diretor sera necessario???

#Não deu certo os titulos por causa de espacos nas strings???

# Aquele problema do numero de indices eu entendi, é porque o ultimo numero do index é aquele, a gente nao fez novo index
# organizando o novo DF numa ordem para tapar os buracos que as linhas que saíram deixaram

#para ver qtde de registros nulos numa coluna >> dados[dados['coluna'].isnull()].shape[0]
# preenchendo valores nulos com valores atribuidos >> dados = dados.fillna({'coluna1': 0, 'Coluna2': 0})

In [ ]:
df.shape

In [ ]:
df_final_2.shape

In [ ]:
# vamos iniciar pelo df_final - ver qtde de caracteres string
df_final.columns

In [ ]:
df_final.head()

In [ ]:
var = df_final.loc[[3], ['titleNetflix']]

In [ ]:
print(var)

In [ ]:
var2 = df_final.loc[[3], ['release_year']]
var2

In [ ]:
df_final.iloc[[2],[0]]

In [ ]:
var = df_final.titleNetflix.loc[2]
var

In [ ]:
len(var)

In [ ]:
var2 = df_final.title.loc[487362]
var2

In [ ]:
len(var2)

In [ ]:
df_final.info()

In [ ]:
#descartamos a hipotese das string de titulos estarem com diferentes numeros de caracteres ou espacos em branco

In [ ]:
#Estamos na tentativa de fazer a comparacao de dois campos representativos do ano do filme: startYear e endYear com o campo do Netflix release_year
# Buscar a forma de comparar estes atributos num só recorte (Marlon-material)
#Verificar os parametros do pd.merge que possibilitem esta comparação também.