## Este projeto tem o objetivo de construir um banco de dados com as informações de filmes da Netflix com a respectiva nota do IMDB. Pode servir de base para a criação de um sistema de recomendação de filmes e séries. Para isso, vamos inserir o rating do IMDB dentro da lista de filme do Netflix

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

Datasets:

Netflix - https://www.kaggle.com/shivamb/netflix-shows (Kaggle)
IMDB - https://datasets.imdbws.com/

Opening data:

NETFLIX - Este conjunto de dados consiste nos filmes e 'tv shows' disponíveis na Netflix atualizados até 2019. Este conjunto de dados foram coletados através de um 'search-engine' chamado Flixable.

In [2]:
df_netflix = pd.read_csv('./netflix_titles.csv')
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

IMDB - Dois datasets: um com o rating e outros com os títulos.

In [3]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [4]:
df_imdb_rat = pd.read_csv('./imdb_ratings.tsv', sep='\t')
df_imdb_rat.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1623
1  tt0000002            6.1       196
2  tt0000003            6.5      1312
3  tt0000004            6.2       119
4  tt0000005            6.1      2092

In [5]:
df_imdb_titles = pd.read_csv('./imdb_titles.tsv', sep='\t')
df_imdb_titles.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [6]:
df = df_imdb_titles.copy()

In [7]:
df.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

In [8]:
df.shape

(22234364, 8)

In [9]:
# Precisamos apenas de títulos com a região 'US'

selecao = df['region'] == 'US'

In [10]:
df[selecao].shape[0]

1050621

In [11]:
# Criando um novo dataframe com a região 'US'

df_us = df[selecao]

In [12]:
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
39,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
54,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
55,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
63,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,\N,\N,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
75,tt0000010,12,Leaving the Factory,US,\N,imdbDisplay,\N,0
80,tt0000010,17,Workers Leaving the Lumière Factory,US,\N,imdbDisplay,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
91,tt0000010,5,Employees Leaving the Lumière Factory,US,\N,alternative,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
120,tt0000012,3,The Arrival of the Mail Train,US,\N,alternative,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
151,tt0000014,20,The Waterer Watered,US,\N,imdbDisplay,\N,0
157,tt0000014,2,Tables Turned on the Gardener,US,\N,alternative,\N,0
164,tt0000014,9,The Sprayer Sprayed,US,\N,alternative,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
199,tt0000022,6,Blacksmith Scene,US,\N,\N,\N,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
256,tt0000029,18,Baby's Lunch,US,\N,\N,original script title,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
258,tt0000029,2,Feeding the Baby,US,\N,\N,\N,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
343,tt0000051,2,Gypsies at Home,US,\N,\N,literal English title,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0

In [13]:
# Existem títulos duplicados, mas o campo 'ordering' é importante. Vamos ordenar esta coluna e depois manter 
# apenas a primeira seleção dos duplicados
df_us = df_us.sort_values(['titleId', 'ordering'], ascending=[True, True])
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
39,tt0000005,5,Blacksmith Scene #1,US,\N,alternative,\N,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
43,tt0000005,9,Blacksmith Scene,US,\N,\N,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
54,tt0000007,5,The Corbett-Courtney Fight,US,\N,alternative,\N,0
55,tt0000007,6,Jim Corbett vs. Peter Courtney,US,\N,alternative,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
63,tt0000008,4,Edison Kinetoscopic Record of a Sneeze,US,\N,\N,\N,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
91,tt0000010,5,Employees Leaving the Lumière Factory,US,\N,alternative,\N,0
75,tt0000010,12,Leaving the Factory,US,\N,imdbDisplay,\N,0
80,tt0000010,17,Workers Leaving the Lumière Factory,US,\N,imdbDisplay,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
120,tt0000012,3,The Arrival of the Mail Train,US,\N,alternative,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
157,tt0000014,2,Tables Turned on the Gardener,US,\N,alternative,\N,0
164,tt0000014,9,The Sprayer Sprayed,US,\N,alternative,\N,0
151,tt0000014,20,The Waterer Watered,US,\N,imdbDisplay,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
199,tt0000022,6,Blacksmith Scene,US,\N,\N,\N,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
258,tt0000029,2,Feeding the Baby,US,\N,\N,\N,0
256,tt0000029,18,Baby's Lunch,US,\N,\N,original script title,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
343,tt0000051,2,Gypsies at Home,US,\N,\N,literal English title,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0

In [14]:
# Mantendo os primeiros itens duplicados e removendo os outros.
df_us = df_us.drop_duplicates(subset='titleId', keep='first')
df_us.head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
35,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
62,tt0000008,3,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
72,tt0000009,4,Miss Jerry,US,\N,\N,\N,0
89,tt0000010,3,Exiting the Factory,US,\N,imdbDisplay,\N,0
109,tt0000012,1,The Arrival of a Train,US,\N,imdbDisplay,\N,0
134,tt0000013,4,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
150,tt0000014,1,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
167,tt0000015,3,Around a Bathing Hut,US,\N,\N,literal English title,0
194,tt0000022,1,The Blacksmiths,US,\N,\N,literal English title,0
209,tt0000023,4,The Sea,US,\N,\N,\N,0
230,tt0000026,5,The Messers. Lumière at Cards,US,\N,\N,\N,0
236,tt0000027,2,Cordeliers' Square in Lyon,US,\N,\N,\N,0
247,tt0000028,7,Fishing for Goldfish,US,\N,\N,\N,0
257,tt0000029,1,Baby's Dinner,US,\N,\N,\N,0
278,tt0000031,6,Jumping the Blanket,US,\N,\N,\N,0
291,tt0000033,5,Trick Riding,US,\N,\N,\N,0
300,tt0000035,4,Watering the Flowers,US,\N,\N,\N,0
301,tt0000036,1,Awakening of Rip,US,\N,\N,\N,0
304,tt0000037,1,Sea Bathing,US,\N,imdbDisplay,\N,0
308,tt0000038,1,The Ball Game,US,\N,\N,\N,0
310,tt0000040,1,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
315,tt0000041,1,Snowball Fight,US,\N,\N,informal English title,0
331,tt0000045,3,The Washerwomen,US,\N,\N,literal English title,0
340,tt0000050,2,Baby and Young Girls,US,\N,\N,literal English title,0
342,tt0000051,1,The Bohemian Encampment,US,\N,\N,\N,0
353,tt0000054,1,A Merry-Go-Round,US,\N,\N,\N,0
364,tt0000059,1,Coronation of a Village Maiden,US,\N,\N,\N,0
367,tt0000060,1,Dancing Darkies,US,\N,\N,\N,0
377,tt0000067,2,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0
379,tt0000068,1,Unloading the Boat,US,\N,\N,\N,0
383,tt0000069,1,Post No Bills,US,\N,\N,\N,0
395,tt0000070,3,Demolition of a Wall,US,\N,\N,literal English title,0
402,tt0000071,1,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
405,tt0000072,1,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
418,tt0000075,5,The Conjuring of a Woman at the House of Rober...,US,\N,\N,\N,0
424,tt0000076,2,Rip and the Dwarf,US,\N,\N,copyright title,0
438,tt0000081,3,Towing a Boat on the River,US,\N,imdbDisplay,\N,0
439,tt0000082,1,A Hard Wash,US,\N,\N,\N,0
449,tt0000085,1,Gardener Burning Weeds,US,\N,\N,\N,0
452,tt0000086,1,"Beach and Pier at Trouville, 1st part",US,\N,\N,\N,0
457,tt0000087,3,"Beach and Pier at Trouville, 2nd part",US,\N,\N,\N,0
460,tt0000088,3,Market Day,US,\N,\N,\N,0
484,tt0000091,7,The Haunted Castle,US,\N,dvd,\N,0
495,tt0000095,2,The Mysterious Paper,US,\N,\N,\N,0
498,tt0000097,1,"Place de l'Opéra, First View",US,\N,\N,\N,0
501,tt0000098,1,"Place de l'Opéra, Second View",US,\N,\N,\N,0

In [15]:
df_us.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989625 entries, 5 to 22234110
Data columns (total 8 columns):
titleId            989625 non-null object
ordering           989625 non-null int64
title              989625 non-null object
region             989625 non-null object
language           989625 non-null object
types              989625 non-null object
attributes         989625 non-null object
isOriginalTitle    989625 non-null object
dtypes: int64(1), object(7)
memory usage: 68.0+ MB

In [16]:
# Verificando a situação da existência de valores únicos no 'titleId'
df_us['titleId'].is_unique

True

In [17]:
df_us['title'].is_unique

False

In [18]:
# Vou ter que buscar mais dados nos outros datasets do IMDB porque tem valores repetidos no campo de titulos
# preciso encontrar quais são e eliminar(pode ser isso primeiro) daqueles titulos que não tem no netflix

In [19]:
# Uma possível solução é verificar estes filmes com mesmo título, se nao tem na Netflix, dropamos. Se tem no Netflix,
# verificar qual deles são, comparar com o ano e remover o restante.

In [20]:
df_us[df_us.duplicated(subset='title')].head(50)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
972,tt0000280,1,Buffalo Bill's Wild West Parade,US,\N,\N,\N,0
1095,tt0000347,2,Buffalo Bill's Wild West Parade,US,\N,\N,\N,0
1204,tt0000381,1,Buffalo Bill's Wild West Show,US,\N,\N,\N,0
1535,tt0000487,1,The Great Train Robbery,US,\N,imdbDisplay,\N,0
2190,tt0000734,1,Othello,US,\N,\N,\N,0
2528,tt0000886,2,"Hamlet, Prince of Denmark",US,\N,\N,\N,0
2767,tt0000998,1,Othello,US,\N,\N,\N,0
2867,tt0001045,3,A Midsummer Night's Dream,US,\N,\N,literal English title,0
3598,tt0001432,4,Uncle Tom's Cabin,US,\N,\N,\N,0
3670,tt0001467,1,Across the Plains,US,\N,\N,\N,0
3743,tt0001502,1,The Best Man Wins,US,\N,\N,\N,0
3825,tt0001545,2,Cinderella,US,\N,\N,\N,0
3828,tt0001546,2,Cinderella,US,\N,\N,\N,0
3835,tt0001552,1,Conscience,US,\N,\N,\N,0
4178,tt0001738,2,Little Red Riding Hood,US,\N,\N,\N,0
4411,tt0001877,1,She,US,\N,\N,\N,0
4695,tt0002031,1,As You Like It,US,\N,\N,\N,0
4863,tt0002114,2,Conscience,US,\N,\N,\N,0
5368,tt0002358,1,The Merchant of Venice,US,\N,\N,\N,0
5435,tt0002392,1,The Night Before Christmas,US,\N,\N,\N,0
5453,tt0002405,1,Oliver Twist,US,\N,\N,\N,0
5467,tt0002413,1,The Outlaw's Sacrifice,US,\N,\N,\N,0
5522,tt0002435,1,The Power of Love,US,\N,\N,\N,0
5565,tt0002453,1,The Reckoning,US,\N,\N,\N,0
5581,tt0002463,1,Rip Van Winkle,US,\N,\N,\N,0
5629,tt0002493,2,A Sister's Love,US,\N,\N,\N,0
5831,tt0002581,1,White Roses,US,\N,\N,\N,0
5977,tt0002657,1,The Ball Game,US,\N,\N,\N,0
6009,tt0002671,2,The Battle,US,\N,working,\N,0
6078,tt0002718,3,Brothers,US,\N,\N,\N,0
6152,tt0002760,1,Confidence,US,\N,\N,\N,0
6164,tt0002767,6,The Count of Monte Cristo,US,\N,\N,\N,0
6243,tt0002813,4,Dr. Jekyll and Mr. Hyde,US,\N,\N,\N,0
6309,tt0002846,1,The Farmer's Daughter,US,\N,\N,\N,0
6385,tt0002887,1,The Fugitive,US,\N,\N,\N,0
6417,tt0002900,1,The Girl and the Outlaw,US,\N,\N,\N,0
6488,tt0002940,1,The Feud,US,\N,working,\N,0
6509,tt0002954,3,Hiawatha,US,\N,\N,\N,0
6586,tt0002998,1,The Iconoclast,US,\N,\N,\N,0
6676,tt0003038,1,Kathleen Mavourneen,US,\N,\N,\N,0
6875,tt0003140,1,Mexican War Pictures,US,\N,\N,\N,0
6896,tt0003151,2,The Mirror,US,\N,\N,\N,0
6951,tt0003168,2,The Bear,US,\N,working,\N,0
6978,tt0003181,1,Mutt and Jeff,US,\N,\N,\N,0
6979,tt0003182,1,Mutt and Jeff,US,\N,\N,\N,0
6980,tt0003183,1,Mutt and Jeff,US,\N,\N,\N,0
6981,tt0003184,1,Mutt and Jeff,US,\N,\N,\N,0
6982,tt0003185,1,Mutt and Jeff,US,\N,\N,\N,0
6983,tt0003186,1,Mutt and Jeff,US,\N,\N,\N,0
6984,tt0003187,1,Mutt and Jeff,US,\N,\N,\N,0

In [21]:
# Adicionando outra coluna com o ano de produção;
# Novo dataframe do IMDB com o ano

df_2 = pd.read_csv('./imdb2.tsv', sep='\t')
df_2.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [22]:
# Verificando valores repetidos

df_2.primaryTitle.is_unique

False

In [23]:
# Um novo DF com apenas o Identificador 'tconst' e o ano

df_year = df_2[['tconst', 'startYear']].copy()

In [24]:
df_year.head()

      tconst startYear
0  tt0000001      1894
1  tt0000002      1892
2  tt0000003      1892
3  tt0000004      1892
4  tt0000005      1893

In [25]:
#Comandos de ajuda e acesso a documentação:

#?str.replace
# ou comando e SHIFT+TAB:

In [26]:
#Realizei um join dos data.frames que constavam ano e titulo do filme(US)

df_us_year = pd.merge(df_year, df_us, left_on='tconst', right_on='titleId', how='outer')

In [27]:
df_us_year.head()

,tconst,startYear,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1894,tt0000001,6.0,Carmencita,US,\N,\N,\N,0
1,tt0000002,1892,tt0000002,7.0,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000003,1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0000004,1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000005,1893,tt0000005,1.0,Blacksmithing Scene,US,\N,alternative,\N,0

In [28]:
#retirando os titulos nulos, possiveis filmes estrangeiros nao regionalizados para US
df_us_year = df_us_year.dropna(subset=['title'])

In [29]:
df_us_year.head(50)

,tconst,startYear,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1894,tt0000001,6.0,Carmencita,US,\N,\N,\N,0
1,tt0000002,1892,tt0000002,7.0,The Clown and His Dogs,US,\N,\N,literal English title,0
4,tt0000005,1893,tt0000005,1.0,Blacksmithing Scene,US,\N,alternative,\N,0
5,tt0000006,1894,tt0000006,3.0,Chinese Opium Den,US,\N,\N,\N,0
6,tt0000007,1894,tt0000007,1.0,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
7,tt0000008,1894,tt0000008,3.0,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0
8,tt0000009,1894,tt0000009,4.0,Miss Jerry,US,\N,\N,\N,0
9,tt0000010,1895,tt0000010,3.0,Exiting the Factory,US,\N,imdbDisplay,\N,0
11,tt0000012,1896,tt0000012,1.0,The Arrival of a Train,US,\N,imdbDisplay,\N,0
12,tt0000013,1895,tt0000013,4.0,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0
13,tt0000014,1895,tt0000014,1.0,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0
14,tt0000015,1894,tt0000015,3.0,Around a Bathing Hut,US,\N,\N,literal English title,0
20,tt0000022,1895,tt0000022,1.0,The Blacksmiths,US,\N,\N,literal English title,0
21,tt0000023,1895,tt0000023,4.0,The Sea,US,\N,\N,\N,0
24,tt0000026,1896,tt0000026,5.0,The Messers. Lumière at Cards,US,\N,\N,\N,0
25,tt0000027,1895,tt0000027,2.0,Cordeliers' Square in Lyon,US,\N,\N,\N,0
26,tt0000028,1895,tt0000028,7.0,Fishing for Goldfish,US,\N,\N,\N,0
27,tt0000029,1895,tt0000029,1.0,Baby's Dinner,US,\N,\N,\N,0
29,tt0000031,1895,tt0000031,6.0,Jumping the Blanket,US,\N,\N,\N,0
31,tt0000033,1895,tt0000033,5.0,Trick Riding,US,\N,\N,\N,0
33,tt0000035,1896,tt0000035,4.0,Watering the Flowers,US,\N,\N,\N,0
34,tt0000036,1896,tt0000036,1.0,Awakening of Rip,US,\N,\N,\N,0
35,tt0000037,1896,tt0000037,1.0,Sea Bathing,US,\N,imdbDisplay,\N,0
36,tt0000038,1898,tt0000038,1.0,The Ball Game,US,\N,\N,\N,0
38,tt0000040,1896,tt0000040,1.0,Boat Leaving the Harbor at Trouville,US,\N,\N,literal English title,0
39,tt0000041,1897,tt0000041,1.0,Snowball Fight,US,\N,\N,informal English title,0
43,tt0000045,1896,tt0000045,3.0,The Washerwomen,US,\N,\N,literal English title,0
48,tt0000050,1896,tt0000050,2.0,Baby and Young Girls,US,\N,\N,literal English title,0
49,tt0000051,1896,tt0000051,1.0,The Bohemian Encampment,US,\N,\N,\N,0
52,tt0000054,1896,tt0000054,1.0,A Merry-Go-Round,US,\N,\N,\N,0
57,tt0000059,1896,tt0000059,1.0,Coronation of a Village Maiden,US,\N,\N,\N,0
58,tt0000060,1896,tt0000060,1.0,Dancing Darkies,US,\N,\N,\N,0
65,tt0000067,1896,tt0000067,2.0,Conjurer Making Ten Hats in Sixty Seconds,US,\N,\N,\N,0
66,tt0000068,1896,tt0000068,1.0,Unloading the Boat,US,\N,\N,\N,0
67,tt0000069,1896,tt0000069,1.0,Post No Bills,US,\N,\N,\N,0
68,tt0000070,1896,tt0000070,3.0,Demolition of a Wall,US,\N,\N,literal English title,0
69,tt0000071,1896,tt0000071,1.0,Automobiles Starting a Race,US,\N,imdbDisplay,\N,0
70,tt0000072,1896,tt0000072,1.0,Officers of French Army Leaving Service,US,\N,imdbDisplay,\N,0
73,tt0000075,1896,tt0000075,5.0,The Conjuring of a Woman at the House of Rober...,US,\N,\N,\N,0
74,tt0000076,1896,tt0000076,2.0,Rip and the Dwarf,US,\N,\N,copyright title,0
79,tt0000081,1896,tt0000081,3.0,Towing a Boat on the River,US,\N,imdbDisplay,\N,0
80,tt0000082,1896,tt0000082,1.0,A Hard Wash,US,\N,\N,\N,0
83,tt0000085,1896,tt0000085,1.0,Gardener Burning Weeds,US,\N,\N,\N,0
84,tt0000086,1896,tt0000086,1.0,"Beach and Pier at Trouville, 1st part",US,\N,\N,\N,0
85,tt0000087,1896,tt0000087,3.0,"Beach and Pier at Trouville, 2nd part",US,\N,\N,\N,0
86,tt0000088,1896,tt0000088,3.0,Market Day,US,\N,\N,\N,0
89,tt0000091,1896,tt0000091,7.0,The Haunted Castle,US,\N,dvd,\N,0
93,tt0000095,1896,tt0000095,2.0,The Mysterious Paper,US,\N,\N,\N,0
95,tt0000097,1896,tt0000097,1.0,"Place de l'Opéra, First View",US,\N,\N,\N,0
96,tt0000098,1896,tt0000098,1.0,"Place de l'Opéra, Second View",US,\N,\N,\N,0

In [30]:
df_us_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989625 entries, 0 to 6961702
Data columns (total 10 columns):
tconst             986303 non-null object
startYear          986303 non-null object
titleId            989625 non-null object
ordering           989625 non-null float64
title              989625 non-null object
region             989625 non-null object
language           989625 non-null object
types              989625 non-null object
attributes         989625 non-null object
isOriginalTitle    989625 non-null object
dtypes: float64(1), object(9)
memory usage: 83.1+ MB

In [31]:
#Juntando o ultimo dataset com o campo nota/rating
df_imdb = pd.merge(df_us_year, df_imdb_rat, on='tconst', how='outer')

In [32]:
df_imdb.head(15)

,tconst,startYear,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
0,tt0000001,1894,tt0000001,6.0,Carmencita,US,\N,\N,\N,0,5.7,1623.0
1,tt0000002,1892,tt0000002,7.0,The Clown and His Dogs,US,\N,\N,literal English title,0,6.1,196.0
2,tt0000005,1893,tt0000005,1.0,Blacksmithing Scene,US,\N,alternative,\N,0,6.1,2092.0
3,tt0000006,1894,tt0000006,3.0,Chinese Opium Den,US,\N,\N,\N,0,5.2,112.0
4,tt0000007,1894,tt0000007,1.0,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0,5.4,644.0
5,tt0000008,1894,tt0000008,3.0,"Edison Kinetoscopic Record of a Sneeze, Januar...",US,\N,\N,complete title,0,5.4,1786.0
6,tt0000009,1894,tt0000009,4.0,Miss Jerry,US,\N,\N,\N,0,5.9,153.0
7,tt0000010,1895,tt0000010,3.0,Exiting the Factory,US,\N,imdbDisplay,\N,0,6.9,5954.0
8,tt0000012,1896,tt0000012,1.0,The Arrival of a Train,US,\N,imdbDisplay,\N,0,7.4,10145.0
9,tt0000013,1895,tt0000013,4.0,The Photographical Congress Arrives in Lyon,US,\N,\N,\N,0,5.7,1552.0
10,tt0000014,1895,tt0000014,1.0,The Sprinkler Sprinkled,US,\N,imdbDisplay,\N,0,7.2,4428.0
11,tt0000015,1894,tt0000015,3.0,Around a Bathing Hut,US,\N,\N,literal English title,0,6.1,799.0
12,tt0000022,1895,tt0000022,1.0,The Blacksmiths,US,\N,\N,literal English title,0,5.1,871.0
13,tt0000023,1895,tt0000023,4.0,The Sea,US,\N,\N,\N,0,5.7,1120.0
14,tt0000026,1896,tt0000026,5.0,The Messers. Lumière at Cards,US,\N,\N,\N,0,5.7,1293.0

In [33]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695596 entries, 0 to 1695595
Data columns (total 12 columns):
tconst             object
startYear          object
titleId            object
ordering           float64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
averageRating      float64
numVotes           float64
dtypes: float64(3), object(9)
memory usage: 168.2+ MB

In [55]:
0 == 0

True

In [35]:
#precisei fazer essa alteração, pois havia valores nulos que não em formato str. pra que essa função funcione, não pode haver palavras nas celulas.
df_imdb['startYear'] = df_imdb['startYear'].replace([r'\N'], '0')

In [36]:
# tranformando o campo em numérico
df_imdb['startYear'] = pd.to_numeric(df_imdb['startYear'])

In [37]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695596 entries, 0 to 1695595
Data columns (total 12 columns):
tconst             object
startYear          float64
titleId            object
ordering           float64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
averageRating      float64
numVotes           float64
dtypes: float64(4), object(8)
memory usage: 168.2+ MB

In [38]:
# trocando o nome para melhorar a visualizacao de quais sao os campos e a origem deles
df_netflix = df_netflix.rename(columns={'title':'titleNetflix'})

In [39]:
df_netflix.head()

,show_id,type,titleNetflix,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [40]:
# juntando Netflix e IMDB
df_final = pd.merge(df_netflix, df_imdb, left_on=['titleNetflix', 'release_year'], right_on=['title', 'startYear'], how='outer')

In [41]:
df_final.head().T

,0,1,2,3,4
show_id,8.11456e+07,8.01174e+07,7.02344e+07,8.00587e+07,8.0126e+07
type,Movie,Movie,TV Show,TV Show,Movie
titleNetflix,Norm of the North: King Sized Adventure,Jandino: Whatever it Takes,Transformers Prime,Transformers: Robots in Disguise,#realityhigh
director,"Richard Finn, Tim Maltby",NaN,NaN,NaN,Fernando Lebrija
cast,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...",Jandino Asporaat,"Peter Cullen, Sumalee Montano, Frank Welker, J...","Will Friedle, Darren Criss, Constance Zimmer, ...","Nesta Cooper, Kate Walsh, John Michael Higgins..."
country,"United States, India, South Korea, China",United Kingdom,United States,United States,United States
date_added,"September 9, 2019","September 9, 2016","September 8, 2018","September 8, 2018","September 8, 2017"
release_year,2019,2016,2013,2016,2017
rating,TV-PG,TV-MA,TV-Y7-FV,TV-Y7,TV-14
duration,90 min,94 min,1 Season,1 Season,99 min
listed_in,"Children & Family Movies, Comedies",Stand-Up Comedy,Kids' TV,Kids' TV,Comedies
description,Before planning an awesome wedding for his gra...,Jandino Asporaat riffs on the challenges of ra...,"With the help of three human allies, the Autob...",When a prison ship crash unleashes hundreds of...,When nerdy high schooler Dani finally attracts...
tconst,tt9428190,NaN,NaN,NaN,NaN
startYear,2019,NaN,NaN,NaN,NaN
titleId,tt9428190,NaN,NaN,NaN,NaN
ordering,8,NaN,NaN,NaN,NaN
title,Norm of the North: King Sized Adventure,NaN,NaN,NaN,NaN
region,US,NaN,NaN,NaN,NaN
language,\N,NaN,NaN,NaN,NaN
types,imdbDisplay,NaN,NaN,NaN,NaN
attributes,\N,NaN,NaN,NaN,NaN
isOriginalTitle,0,NaN,NaN,NaN,NaN
averageRating,3.1,NaN,NaN,NaN,NaN
numVotes,274,NaN,NaN,NaN,NaN

In [42]:
df_final = df_final[['titleNetflix', 'release_year', 'director', 'type', 'title', 'startYear', 'averageRating', 'numVotes']].copy()

In [43]:
df_final.head()

,titleNetflix,release_year,director,type,title,startYear,averageRating,numVotes
0,Norm of the North: King Sized Adventure,2019.0,"Richard Finn, Tim Maltby",Movie,Norm of the North: King Sized Adventure,2019.0,3.1,274.0
1,Jandino: Whatever it Takes,2016.0,NaN,Movie,NaN,NaN,NaN,NaN
2,Transformers Prime,2013.0,NaN,TV Show,NaN,NaN,NaN,NaN
3,Transformers: Robots in Disguise,2016.0,NaN,TV Show,NaN,NaN,NaN,NaN
4,#realityhigh,2017.0,Fernando Lebrija,Movie,NaN,NaN,NaN,NaN

In [44]:
df_final[df_final['title'] == 'Transformers Prime']

,titleNetflix,release_year,director,type,title,startYear,averageRating,numVotes
487362,NaN,NaN,NaN,NaN,Transformers Prime,2010.0,7.9,5108.0

In [45]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1699326 entries, 0 to 1699325
Data columns (total 8 columns):
titleNetflix     object
release_year     float64
director         object
type             object
title            object
startYear        float64
averageRating    float64
numVotes         float64
dtypes: float64(4), object(4)
memory usage: 116.7+ MB

In [46]:
#estamos tentando juntar alguns titulos que ficaram separados no DF anterior
df = df_final[df_final['titleNetflix'] == df_final['title']] #inner

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3013 entries, 0 to 6736
Data columns (total 8 columns):
titleNetflix     3013 non-null object
release_year     3013 non-null float64
director         2296 non-null object
type             3013 non-null object
title            3013 non-null object
startYear        3013 non-null float64
averageRating    2511 non-null float64
numVotes         2511 non-null float64
dtypes: float64(4), object(4)
memory usage: 211.9+ KB

In [48]:
df.head(50)

,titleNetflix,release_year,director,type,title,startYear,averageRating,numVotes
0,Norm of the North: King Sized Adventure,2019.0,"Richard Finn, Tim Maltby",Movie,Norm of the North: King Sized Adventure,2019.0,3.1,274.0
6,Automata,2014.0,Gabe Ibáñez,Movie,Automata,2014.0,6.1,53154.0
8,Fire Chasers,2017.0,NaN,TV Show,Fire Chasers,2017.0,6.6,301.0
9,Good People,2014.0,Henrik Ruben Genz,Movie,Good People,2014.0,5.5,15101.0
11,Kidnapping Mr. Heineken,2015.0,Daniel Alfredson,Movie,Kidnapping Mr. Heineken,2015.0,6.1,18913.0
19,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,NaN,NaN
20,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,6.1,43796.0
21,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,NaN,NaN
22,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,NaN,NaN
23,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,NaN,NaN
24,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,NaN,NaN
25,Love,2015.0,Gaspar Noé,Movie,Love,2015.0,NaN,NaN
26,Manhattan Romance,2014.0,Tom O'Brien,Movie,Manhattan Romance,2014.0,5.5,1266.0
27,Moonwalkers,2015.0,Antoine Bardou-Jacquet,Movie,Moonwalkers,2015.0,6.1,8278.0
28,Rolling Papers,2015.0,Mitch Dickman,Movie,Rolling Papers,2015.0,6.2,447.0
29,Stonehearst Asylum,2014.0,Brad Anderson,Movie,Stonehearst Asylum,2014.0,6.8,49561.0
30,The Runner,2015.0,Austin Stark,Movie,The Runner,2015.0,4.7,4908.0
31,6 Years,2015.0,Hannah Fidell,Movie,6 Years,2015.0,5.6,11123.0
36,Next Gen,2018.0,"Kevin R. Adams, Joe Ksander",Movie,Next Gen,2018.0,NaN,NaN
37,Next Gen,2018.0,"Kevin R. Adams, Joe Ksander",Movie,Next Gen,2018.0,6.6,13062.0
38,Next Gen,2018.0,"Kevin R. Adams, Joe Ksander",Movie,Next Gen,2018.0,NaN,NaN
42,Archibald's Next Big Thing,2019.0,NaN,TV Show,Archibald's Next Big Thing,2019.0,7.9,169.0
43,Article 15,2019.0,Anubhav Sinha,Movie,Article 15,2019.0,8.2,20043.0
47,The Spy,2019.0,NaN,TV Show,The Spy,2019.0,7.9,25235.0
48,Hell and Back,2015.0,"Tom Gianas, Ross R. Shuman",Movie,Hell and Back,2015.0,5.4,4647.0
49,Hell and Back,2015.0,"Tom Gianas, Ross R. Shuman",Movie,Hell and Back,2015.0,NaN,NaN
50,PK,2014.0,Rajkumar Hirani,Movie,PK,2014.0,8.1,154625.0
53,American Factory: A Conversation with the Obamas,2019.0,NaN,Movie,American Factory: A Conversation with the Obamas,2019.0,5.3,198.0
54,ATM,2012.0,Mez Tharatorn,Movie,ATM,2012.0,4.7,22395.0
57,One Day,2016.0,Banjong Pisanthanakun,Movie,One Day,2016.0,NaN,NaN
58,One Day,2016.0,Banjong Pisanthanakun,Movie,One Day,2016.0,NaN,NaN
60,Shutter,2004.0,"Banjong Pisanthanakun, Parkpoom Wongpoom",Movie,Shutter,2004.0,6.6,20.0
62,Carrie Pilby,2016.0,Susan Johnson,Movie,Carrie Pilby,2016.0,6.6,7228.0
63,Marc Maron: Too Real,2017.0,Lynn Shelton,Movie,Marc Maron: Too Real,2017.0,7.2,1563.0
64,No Tomorrow,2016.0,NaN,TV Show,No Tomorrow,2016.0,7.2,4604.0
66,The Heretics,2017.0,Chad Archibald,Movie,The Heretics,2017.0,4.7,1446.0
67,The World We Make,2019.0,Brian Baugh,Movie,The World We Make,2019.0,5.2,453.0
69,Black Panther,2018.0,Ryan Coogler,Movie,Black Panther,2018.0,7.3,586918.0
70,Black Panther,2018.0,Ryan Coogler,Movie,Black Panther,2018.0,7.5,28.0
71,Man Up,2015.0,Ben Palmer,Movie,Man Up,2015.0,6.8,47491.0
72,Frequency,2016.0,NaN,TV Show,Frequency,2016.0,NaN,NaN
73,Frequency,2016.0,NaN,TV Show,Frequency,2016.0,7.5,12381.0
74,Frequency,2016.0,NaN,TV Show,Frequency,2016.0,NaN,NaN
77,Ben 10,2016.0,NaN,TV Show,Ben 10,2016.0,2.5,1962.0
79,Christiane Amanpour: Sex & Love Around the World,2018.0,NaN,TV Show,Christiane Amanpour: Sex & Love Around the World,2018.0,7.4,601.0
80,The Eighties,2016.0,NaN,TV Show,The Eighties,2016.0,8.3,1086.0
81,The Nineties,2017.0,NaN,TV Show,The Nineties,2017.0,8.2,895.0
82,The Seventies,2015.0,NaN,TV Show,The Seventies,2015.0,8.3,1145.0
84,The Mayor,2017.0,Park In-je,Movie,The Mayor,2017.0,5.5,1486.0
86,Amanda Knox,2016.0,"Rod Blackhurst, Brian McGinn",Movie,Amanda Knox,2016.0,6.9,19762.0

In [49]:
df[df['title'] == 'Transformers Prime']

Empty DataFrame
Columns: [titleNetflix, release_year, director, type, title, startYear, averageRating, numVotes]
Index: []

In [50]:
# a ideia é obter esta diferença:
#df['difer'] = df_final[df_final['release_year'] - df_final['startYear']]

KeyError: "None of [Float64Index([0.0, nan, nan, nan, nan, nan, 0.0, nan, 0.0, 0.0,\n              ...\n              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n             dtype='float64', length=1699326)] are in the [columns]"

In [51]:
df_final_2 = pd.merge(df_netflix, df_imdb, left_on=['titleNetflix', 'release_year'], right_on=['title', 'startYear'], how='inner')
df_final_2.head()

,show_id,type,titleNetflix,director,cast,country,date_added,release_year,rating,duration,...,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,...,tt9428190,8.0,Norm of the North: King Sized Adventure,US,\N,imdbDisplay,\N,0,3.1,274.0
1,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,...,tt1971325,7.0,Automata,US,\N,imdbDisplay,\N,0,6.1,53154.0
2,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,...,tt7293754,1.0,Fire Chasers,US,\N,\N,\N,0,6.6,301.0
3,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,...,tt1361318,4.0,Good People,US,\N,imdbDisplay,\N,0,5.5,15101.0
4,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,...,tt2917388,32.0,Kidnapping Mr. Heineken,US,\N,\N,new title,0,6.1,18913.0

In [52]:
df_final_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3013 entries, 0 to 3012
Data columns (total 24 columns):
show_id            3013 non-null int64
type               3013 non-null object
titleNetflix       3013 non-null object
director           2296 non-null object
cast               2731 non-null object
country            2894 non-null object
date_added         3011 non-null object
release_year       3013 non-null int64
rating             3009 non-null object
duration           3013 non-null object
listed_in          3013 non-null object
description        3013 non-null object
tconst             3013 non-null object
startYear          3013 non-null float64
titleId            3013 non-null object
ordering           3013 non-null float64
title              3013 non-null object
region             3013 non-null object
language           3013 non-null object
types              3013 non-null object
attributes         3013 non-null object
isOriginalTitle    3013 non-null object
averageRating      2511 non-null float64
numVotes           2511 non-null float64
dtypes: float64(4), int64(2), object(18)
memory usage: 588.5+ KB

In [53]:
df_final_2[df_final_2['title'] == 'Transformers Prime']

Empty DataFrame
Columns: [show_id, type, titleNetflix, director, cast, country, date_added, release_year, rating, duration, listed_in, description, tconst, startYear, titleId, ordering, title, region, language, types, attributes, isOriginalTitle, averageRating, numVotes]
Index: []

[0 rows x 24 columns]

In [ ]:
#os problemas atuais - o 'caso Transformers'

# inner não deu certo com alguns filmes, não está fazendo a comparação corretamente ou não está entendendo
# como o mesmo valor

# a solucao será pelo metodo do 'pd.merge' ou pelo 'corte do DF' comparando as igualdades??
# temos que criar uma solucao para o campo ano, criando um novo campo 'diferenca', 
# que trataremos e criaremos uma comparacao maleavel que aceite 3 anos de diferenca entre os filmes
# dataset com o campo diretor sera necessario???

#Não deu certo os titulos por causa de espacos nas strings???

# Aquele problema do numero de indices eu entendi, é porque o ultimo numero do index é aquele, a gente nao fez novo index
# organizando o novo DF numa ordem para tapar os buracos que as linhas que saíram deixaram

#para ver qtde de registros nulos numa coluna >> dados[dados['coluna'].isnull()].shape[0]
# preenchendo valores nulos com valores atribuidos >> dados = dados.fillna({'coluna1': 0, 'Coluna2': 0})

In [58]:
?pd.read_csv

In [ ]:
pd.read_json()

In [ ]:
#Comandos de ajuda e acesso a documentação:

#?str.replace
# ou comando e SHIFT+TAB: